<div class="container">
  <form action="/restaurants/{{ restaurant._id}}/edit" method="POST">
    <div class="my-3">
      名字：
      <input type="text" placeholder="name" name="name" value="{{ restaurant.name}}">
    </div>
    <div class="mb-3">
      英文名字：
      <input type="text" placeholder="enname" name="name_en" value="{{ restaurant.name_en}}">
    </div>
    <div class="mb-3">
      類別：
      <input type="text" placeholder="category" name="category" value="{{ restaurant.category}}">
    </div>
    <div class="mb-3">
      圖片：
      <input type="text" placeholder="image" name="image" value="{{ restaurant.image}}">
    </div>
    <div class="mb-3">
      地點：
      <input type="text" placeholder="location" name="location" value="{{ restaurant.location}}">
    </div>
    <div class="mb-3">
      電話：
      <input type="text" placeholder="phone" name="phone" value="{{ restaurant.phone}}">
    </div>
    <div class="mb-3">
      地圖：
      <input type="text" placeholder="google_map" name="google_map" value="{{ restaurant.google_map}}">
    </div>
    <div class="mb-3">
      評分：
      <input type="text" placeholder="rating" name="rating" value="{{ restaurant.rating}}">
    </div>
    <div class="mb-3">
      描述：
      <input type="text" placeholder="description" name="description" value="{{ restaurant.description}}">
    </div>
    <button type="submit" class="btn btn-outline-info">Edit</button>
  </form>
</div>